#fb-root
- if Rails.env.production?
  :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '145194822288163',
          channelUrl : '//lvh.me:3000/channel.html',
          status     : true,
          cookie     : true,
          xfbml      : false
        });
      };

- else
  :javascript
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '170352486433845',
        channelUrl : '//lvh.me:3000/channel.html',
        status     : true,
        cookie     : true,
        xfbml      : false
      });
    };

:javascript
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
