

:javascript
  channel = "#{chat.channel}";
  chat_id = "#{chat.id}";

- content_for :footer do
  - if user.present?
    :javascript
      startChat(#{user.id});
  - else
    :javascript
      drawLoginButton();

= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js"

#wrapper
  #messages
    %ul{ style: "list-style: none; padding: 0; margin: 0" }
  #message-overlay
  #message-container
    %textarea#message{ disabled: true, name: "message" }
      Type your message here and hit enter...
