/* == BOX == */
#wrapper {
  background: #fff;
  padding: 0;
}

  #wrapper #members {
    display: none;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px #e4e4e4 solid;
    background-color: #eee;
  }

  #wrapper #members ul {
    list-style: none;
    margin: 0;
    padding: 5px;
  }

  #wrapper #members li {
    list-style: none;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-bottom: 5px;
    padding: 0;
    background-size: auto 100%;
  }
  #wrapper #members li:last-child {
    margin-bottom: 0px;
  }

  #wrapper #members li:hover {
    background-color: #f5f5f5;
  }

  #wrapper #members li a {
    padding: 0 0 0 45px;
    width: 240px;
    overflow: hidden;
    line-height: 40px;
    display: block;
  }

  #wrapper .inner {
    padding: 5px;
    font-size: 14px;
  }
    #wrapper .inner p {
      margin-top: 0;
    }

  #wrapper #messages {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px #e4e4e4 solid;
    list-style: none;
  }
    #wrapper #messages li {
      padding: 5px 5px 0 5px;
      font-size: 12px;
      line-height: 14px;
      border-bottom: 1px solid #eee;
    }
    #wrapper #messages li.you {
      /*background: #FFF9C9;*/
    }

    #wrapper #messages li.note {
      font-size: 11px;
      text-align: center;
      color: #848484;
      padding: 5px 10px;
    }

  #wrapper #message-container {
    padding: 5px;
  }
  #wrapper #message {
    margin: 0;
    padding: 0px;
    height: 50px;
    width: 100%;
    border: none;
    resize: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    outline: 0;
    font-size: 12px;
    line-height: 14px;
    box-shadow: none;
  }
  #wrapper #message:focus {
    outline: 0;
    border: none;
    box-shadow: none;
  }
  #wrapper #message-overlay {
    margin: -1px 0 0 0;
    padding: 0px;
    height: 61px;
    border: none;
    width: 100%;
    position: absolute;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.3);
    display: none;
  }

#wrapper #messages li {
  position: relative;
}
#wrapper #messages li table {
  width: 100%;
}
#wrapper #messages li td.image {
  width: 30px;
  padding-right: 5px;
  vertical-align: top;
}
#wrapper #messages li table {
  table-layout: fixed;
  width: 100%;
}
#wrapper #messages li .content {
  vertical-align: top;
  position: relative;
  word-wrap: break-word;
  width: 100%;
  padding-bottom: 3px;
  color: #333;
  background-color: white;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
#wrapper #messages li .content:hover {
  background-color: #f5f5f5;
}
#wrapper #messages li .content strong {
  display: inline-block;
  padding-bottom: 3px;
}

#new-messages {
  width: 200px;
  left: 50px;
  position: fixed;
  bottom: 50px;
  font-size: 80%;
}

@media all and (min-width: 600px) {
  #wrapper #members {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  #new-messages {
    width: 400px;
  }
}

