/* == BOX == */
#wrapper {
  background: #fff;
  padding: 0;
}
  #wrapper .inner {
    padding: 5px;
    font-size: 14px;
  }
    #wrapper .inner p {
      margin-top: 0;
    }

  #wrapper #messages {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px #e4e4e4 solid;
    list-style: none;
  }
    #wrapper #messages li {
      padding: 5px 5px 0 5px;
      font-size: 12px;
      line-height: 14px;
      border-bottom: 1px solid #eee;
    }
    #wrapper #messages li.you {
      /*background: #FFF9C9;*/
    }

    #wrapper #messages li.note {
      font-size: 11px;
      text-align: center;
      color: #848484;
      padding: 5px 10px;
    }

  #wrapper #message-container {
    padding: 0px;
  }
  #wrapper #message {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    border: none;
    resize: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    outline: 0;
    font-size: 12px;
    line-height: 14px;
  }
  #wrapper #message:focus {
    outline: 0;
    border: none;
    box-shadow: none;
  }
  #wrapper #message-overlay {
    margin: -1px 0 0 0;
    padding: 10px;
    height: 51px;
    border: none;
    width: 100%;
    position: absolute;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.3);
    display: none;
  }

#wrapper #messages li {
  position: relative;
}
#wrapper #messages li span.time {
  position: absolute;
  bottom: 1px;
  right: 1px;
  border-radius: 2px;
  font-size: 9px;
  display: none;
  color: #aaa;
}
#wrapper #messages li table {
  width: 100%;
}
#wrapper #messages li .content:hover span.time {
  display: block;
}
#wrapper #messages li td.image {
  width: 30px;
  padding-right: 5px;
  vertical-align: top;
}
#wrapper #messages li table {
  table-layout: fixed;
  width: 100%;
}
#wrapper #messages li .content {
  vertical-align: top;
  position: relative;
  word-wrap: break-word;
  width: 100%;
  padding-bottom: 5px;
  color: #333;
}

